In [4]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('price_history.db')
df = pd.read_sql('SELECT * FROM Products JOIN PriceHistory ON Products.id = PriceHistory.product_id', conn)
conn.close()
df

,id,name,url,created_at,id,product_id,price,timestamp
0,1,"60x60 High Power Binoculars, Suitable For Hunt...",https://www.jumia.co.ke/generic-60x60-high-pow...,2025-01-08 19:41:22,1,1,3100.0,2025-01-08 19:41:22